.node-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.node-label {
  font-size: 12px;
  font-weight: 500;
  color: var(--node-content-text);
}

.custom-select {
  position: relative;
  width: 100%;
  top: 0px;
}

.custom-select-trigger {
  height: 34px;
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--node-input-bg);
  border: 1px solid var(--node-input-border);
  border-radius: 8px;

  font-size: 13px;
  cursor: pointer;
}

.custom-select-trigger:hover {
  border-color: var(--node-input-focus);
}

.custom-select-arrow {
  font-size: 20px;
  opacity: 0.8;
}

.custom-select-menu {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;

  background-color: var(--node-bg);
  border: 1px solid var(--node-border);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);

  z-index: 9999;
  max-height: 160px;
  overflow-y: auto;
}

.custom-select-option {
  padding: 8px 10px;
  cursor: pointer;
  color: var(--node-content-text);
}

.custom-select-option:hover {
  background-color: var(--node-header-bg);
}

.custom-select-option.selected {
  font-weight: 600;
}
